body {
  background: #6e28d9;
  padding: 0 24px;
  margin: 0;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#special_Btn {
  width: 150px;
  padding: 7px;
  border-radius: 15px;
  border: none;
  background-color: white;
  color: black;
}

#special_Btn:hover {
  padding: 8px;
  -webkit-box-shadow: 5px 3px 8px 2px rgba(109,99,107,0.56); 
box-shadow: 5px 3px 8px 2px rgba(109,99,107,0.56);
  cursor: pointer;
}